body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-container {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
}
.profile-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image img {
    width: 500px;
    height: 500px;
    border-radius: 10%;
    object-fit: cover;
}
.profile-info {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-info h2 {
    margin: 0;
    color: #333;
    font-size: 32px;
}
.profile-info p {
    font-size: 18px;
    color: #666;
}
.links a {
    display: block;
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    margin-top: 10px;
}